
* {
    /* outline: 1px solid red; */
}

html {
	background-color: #181a1b !important;
}
body {
	width:100%;
	margin: 0; padding: 0;
	font-size: 18px;
	height: 100vh;
	color: #e8e6e3;
}
a {
	color: #3391ff;
}
table {
	border-color: #545b5e;
}
input, textarea, select {
	box-sizing: border-box;
	background-color: rgb(43,42,51);
	caret-color: transparent;
	border-width: 1px;
	color: #e8e6e3;
}
.tabulator {
	background-color: #5b6367;
	border-top-color: #4d5356;
	border-left-color: #4d5356;
	border-right-color: #4d5356;
	border-bottom-color: #4d5356;
}
.tabulator-table {
	color: #c8c3bc !important;
}
.tabulator-row {
	background-color: #181a1b !important;
}
.tabulator-row.tabulator-row-even {
	background-color: #212425 !important;
}
.tabulator-row.tabulator-selected {
	background-color: #153867 !important;
}
.tabulator-row .tabulator-cell {
	border-right-color: #484e51;
}
.tabulator .tabulator-header {
	background-color: #26292b;
	border-bottom-color: #4d5356;
	color: #b2aca2;
	outline-color: currentcolor;
}
.tabulator .tabulator-header .tabulator-col {
	background-color: #26292b;
	border-right-color: #484e51;
}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="none"] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
	border-bottom-color: #43494c;
	border-top-color: currentcolor;
}
#header {
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#sub-header {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
h1 {
	position: absolute;
	left: 3rem;
	top: auto;
	margin: 0;
}
#donate {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: auto; right: 48px;
	gap: 5px;
}
#donate img {
	width: 32px; height: 32px;
	vertical-align: middle;
}
#donate img:hover {
	cursor: pointer;
}
#donate div {
	text-align: center;
}
#donate a {
	color: transparent;
}
#body {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 90%;
	width: 100%;
}
#updated {
	font-style: italic;
	font-size: 1rem;
	margin-bottom: 0.25rem;
}
#table-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 50%;
}
#table {
	height: 95%;
	width: 95%;
	min-height: 200px;
}
#player-tables {
	display: flex;
	flex-direction: column;
	display: none;
	width: 50%;
	align-items: center;
}
.game-cell {
	position: relative;
	display: inline-block;
	width: 100%; height: 100%;
}
.evbook-cell {
	display: flex;
	justify-content: center;
}
.sport-img {
	height: 36px; width: 36px;
}
.game-img {
	height: 20px; width: 20px;
}
.book-img {
	height: 32px; width: 32px;
}
#player-odds .book-img {
	margin-bottom: 0.25rem;
}
.tabulator .book-img {
	height: 16px; width: 16px;
	margin-left: 0.5rem;
}
h2 {
	margin: 0;
}
nav, h2 {
	text-align: center;
}
.game-container {
	position: relative;
	min-width: 26px;
	height: 100%;
	margin-right: 0.5rem;
}
.game-img.away {
	position: absolute;
	z-index: 2;
	left: 0;
	top: -2px;
	opacity: 0.9;
}
.game-img.home {
	position: absolute;
	z-index: 1;
	left: 10px;
	top: -2px;
}

#player-odds {
	display: flex;
	justify-content: center;
}
#player-odds div {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
	width: 80px;
}
#player-odds .active {
	border: 1px solid;
}
#player-header {
	width: 100%;
}
#player-controls {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	margin-bottom: 0.5rem;
}
#player-dropdowns {
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}
#player-ou-select {
	min-width: 80px;
}
#player-lines-select {
	min-width: 70px;
}
#player-props-select {
	min-width: 120px;
}
#log-chart {
}

.nav {
	justify-content: center;
	display: flex;
	gap: 2px;
	overflow-x: auto;
	white-space: nowrap;
	padding: 10px;
	border-radius: 5px;
	scrollbar-width: none;
}

.nav::-webkit-scrollbar {
	display: none; /* Hides scrollbar for WebKit browsers */
}

.nav-item, .nav button {
	padding: 8px 16px;
	background-color: #e8e6e3;
	color: black;
	border-radius: 20px;
	text-align: center;
	cursor: pointer;
	flex-shrink: 0;
	border-width: 1px;
	overflow-x: auto;
	scroll-behavior: smooth;
}

.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown select {
	font-weight: 600;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	margin: 0;
	padding: 12px;
	border-radius: 4px;
	border: 1px solid rgba(164, 164, 170, 0.3);
	outline: none;
	text-indent: 0px;
	background-color: #1b1d1e;
	color: #d3cfca;
	outline-color: currentcolor;
	cursor: pointer;
}
.dropdown svg {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%) rotate(90deg);
		right: 6px;
		overflow: hidden;
		pointer-events: none;
}

#sport-select {
	min-width: 120px;
}

.nav-item:hover, .nav button:hover, #player-ou button:hover {
	background-color: #3a3f44;
	color: #e8e6e3;
	border-color: #596068;
	transition: all 0.3s ease;
}

#player-odds div.active, .nav-item.active, .nav button.active {
	background-color: #2b2d2e;
	color: #ffcb05;
	border-color: #ff9f00 !important;
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
	transition: all 0.1s ease;
}

@media (max-width: 600px) {
	#header {
		flex-direction: column;
		height: auto;
		margin-bottom: 0.5rem;
	}
	#sub-header {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		margin: 0.25rem 0;
	}
	h1 {
		position: initial;
		width: 100%;
		margin-top: 0.5rem;
		text-align: center;
	}
	h2 {
		margin-top: 0.5rem;
		font-size: 1.5rem;
	}
	#updated {
		font-size: 0.85rem;
	}
	.book-img {
		height: 24px; width: 24px;
	}
	#player-controls {
		flex-direction: column;
	}
	#player-dropdowns {
		margin: 0.5rem 0;
	}
	#player-odds div {
		width: 60px;
	}
	#donate {
		flex-direction: row;
		position: initial;
	}
	#player-tables, #player-header, #player-table, #player-header, #table,#table-container,#log-chart {
		width: 100% !important;
	}
	#table {
		height: 200px;
	}
	#player-odds {
		overflow-x: scroll;
	}
	#body {
		flex-direction: column;
	}
	.game-container {
		margin-right: 0.1rem;
	}
	.game-img {
		height: 16px; width: 16px;
		top: 0 !important;
	}
	.tabulator .tabulator-row, #player-odds {
		font-size: 12px;
	}
	.tabulator .tabulator-cell:nth-child(1) {
		width: 40px;
	}
}

@media (hover: hover) and (pointer: fine) {
	.tabulator .tabulator-header .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover, .tabulator-row:hover {
		background-color: #34393b !important;
	}
}