/*
* {
    outline: 1px solid red; 
}
*/

html {
	font-size: 16px;
	background-color: #181a1b !important;
}
body {
	display: flex;
	width:100%;
	margin: 0; padding: 0;
	height: 100vh;
	color: #e8e6e3;
}
a {
	color: #3391ff;
}
table {
	border-color: #545b5e;
}
input, textarea, select {
	box-sizing: border-box;
	background-color: rgb(43,42,51);
	caret-color: transparent;
	border-width: 1px;
	color: #e8e6e3;
}
.tabulator {
	background-color: #5b6367;
	border-top-color: #4d5356;
	border-left-color: #4d5356;
	border-right-color: #4d5356;
	border-bottom-color: #4d5356;
	font-size: 0.80rem;
}
.tabulator-table {
	color: #c8c3bc !important;
}
.tabulator-row {
	background-color: #181a1b !important;
}
.tabulator-row.tabulator-row-even {
	background-color: #212425 !important;
}
.tabulator-row.tabulator-selected {
	background-color: #153867 !important;
}
.tabulator-row .tabulator-cell {
	border-right-color: #484e51;
}
.tabulator .tabulator-header {
	background-color: #26292b;
	border-bottom-color: #4d5356;
	color: #b2aca2;
	outline-color: currentcolor;
}
.tabulator .tabulator-header .tabulator-col {
	background-color: #26292b;
	border-right-color: #484e51;
}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable[aria-sort="none"] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
	border-bottom-color: #43494c;
	border-top-color: currentcolor;
}
#header, #mobile-header {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#mobile-header {
	display: none;
	flex-direction: column;
	margin-bottom: 0.5rem;
	height: auto;
}
#sub-header {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}
#sub-header button {
	margin: 0;
	padding: 12px;
	border-radius: 4px;
	border: 1px solid rgba(164, 164, 170, 0.3);
	outline: none;
	text-indent: 0px;
	background-color: #1b1d1e;
	color: #d3cfca;
	outline-color: currentcolor;
}
#sub-header button:hover {
	cursor: pointer;
}
#button-container {
	display: flex;
	justify-content: space-evenly;
}
h1 {
	position: absolute;
	left: 3rem;
	top: auto;
	margin: 0;
}
#donate {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

#header #donate {
	position: absolute;
	top: 16px; right: 48px;
}

#mobile-header #donate {
	display: none;
	position: initial;
  	gap: 5px;
}
#donate img {
	width: 32px; height: 32px;
	vertical-align: middle;
}
#donate img:hover {
	cursor: pointer;
}
#donate div {
	text-align: center;
}
#donate a {
	color: transparent;
}
.body {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	width: 50%;
}
#left-body {
	width: 100%;
}
#right-body {
	display: none;
	position: relative;
	padding: 0 2rem;
}
#updated {
	font-style: italic;
	font-size: 1rem;
	margin-bottom: 0.25rem;
}
#table-container {
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#table {
	width: 100%;
	height: 95%;
	min-height: 200px;
}
#player-table {
	width: 90%;
	margin-top: auto;
	margin-bottom: auto;
}
#player-tables {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	gap: 0.25rem;
}
#player-ev {
	padding-left: 5px;
}
#player-ev span {
}
.game-cell {
	position: relative;
	display: inline-block;
	width: 100%; height: 100%;
}
.evbook-cell {
	display: flex;
	justify-content: center;
	width: 100%;
}
.evbook-cell:hover {
	.evbook-implied {
		display: initial;
	}
	.evbook-odds {
		display: none;
	}
}
.evbook-implied {
	display: none;
}
.sport-img {
	height: 36px; width: 36px;
}
.game-img {
	height: 18px; width: 18px;
}
.book-img {
	height: 24px; width: 24px;
}
.wind, .weather {
	height: 32px; width: 32px;
}
.team-img, .tabulator .wind, .tabulator .weather {
	height: 18px; width: 18px;
}
.tabulator .book-img {
	height: 16px; width: 16px;
	margin-left: 0.5rem;
}
h2 {
	display: flex;
	gap: 10px;
	margin-bottom: 1rem;
	align-items: center;
}
nav {
	text-align: center;
}
.game-container {
	position: relative;
	min-width: 26px;
	height: 100%;
	margin-right: 0.5rem;
}
.game-img.away {
	position: absolute;
	z-index: 2;
	left: 0;
	opacity: 0.9;
}
.game-img.home {
	position: absolute;
	z-index: 1;
	left: 10px;
}

#player-weather {
	display: flex;
	align-items: center;
	gap: 10px;
}

#player-pitcher {
	display: flex;
	gap: 10px;
}
#player-pitcher h4 {
	margin: 0;
}
#player-odds {
	display: flex;
	width: 100%;
}
#player-odds div {
	display: flex;
	align-items: center;
	padding: 5px;
	gap: 5px;
}
#player-header {
	width: 100%;
}
#player-controls {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: left;
	width: 100%;
}
.player-dropdowns {
	display: flex;
	overflow: hidden;
	align-items: center;
	/*
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	*/
}
#player-venue-select {
	min-width: 80px;
}
#player-ou-select {
	min-width: 80px;
}
#player-lines-select {
	min-width: 70px;
}
#player-props-select {
	min-width: 120px;
}
#log-chart {
}

.nav {
	justify-content: center;
	display: flex;
	gap: 2px;
	overflow-x: auto;
	white-space: nowrap;
	padding: 10px;
	border-radius: 5px;
	scrollbar-width: none;
}

.nav::-webkit-scrollbar {
	display: none; /* Hides scrollbar for WebKit browsers */
}

.nav-item, .nav button {
	padding: 8px 16px;
	background-color: #e8e6e3;
	color: black;
	border-radius: 20px;
	text-align: center;
	cursor: pointer;
	flex-shrink: 0;
	border-width: 1px;
	overflow-x: auto;
	scroll-behavior: smooth;
}

.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown select {
	font-weight: 600;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	margin: 0;
	padding: 12px;
	border-radius: 4px;
	border: 1px solid rgba(164, 164, 170, 0.3);
	outline: none;
	text-indent: 0px;
	background-color: #1b1d1e;
	color: #d3cfca;
	outline-color: currentcolor;
	cursor: pointer;
}
.dropdown svg {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%) rotate(90deg);
		right: 6px;
		overflow: hidden;
		pointer-events: none;
}

#sport-select {
	min-width: 120px;
}

.nav-item:hover, .nav button:hover, #player-ou button:hover {
	background-color: #3a3f44;
	color: #e8e6e3;
	border-color: #596068;
	transition: all 0.3s ease;
}

#player-odds .active {
	color: #ffcb05;
}

.nav-item.active, .nav button.active {
	background-color: #2b2d2e;
	color: #ffcb05;
	border-color: #ff9f00 !important;
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
	transition: all 0.1s ease;
}

@media (max-width: 600px) {
	body {
		flex-direction: column;
	}
	.body, #left-body {
		width: 100%;
	}
	#mobile-header {
		display: flex;
	}
	#header {
		display: none;
	}
	#sub-header {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin: 0.25rem 0;
	}
	#button-container {
		width: initial;
	}
	h1 {
		position: initial;
		width: 100%;
		margin-top: 0.5rem;
		text-align: center;
	}
	h2 {
		font-size: 1.35rem;
		justify-content: center;
		margin-top: 0.75rem;
		margin-bottom: 0;
	}
	#updated {
		font-size: 0.85rem;
	}
	.book-img {
		height: 18px; width: 18px;
	}
	#player-ev {
		text-align: center;
		margin: 0;
		font-size: 1rem;
	}
	#player-controls {
		align-items: center;
	}
	.player-dropdowns {
		margin: 0.5rem 0;
	}
	#player-odds {
		justify-content: center;
	}
	#header #donate {
		display: none;
	}
	#mobile-header #donate {
		display: flex;
		flex-direction: row;
	}
	#player-tables, #player-header, #player-table, #player-header, #table,#table-container,#log-chart {
		width: 100% !important;
	}
	#table {
		height: 200px;
	}
	#player-odds {
		overflow-x: scroll;
	}
	#body {
		flex-direction: column;
	}
	.game-container {
		margin-right: 0.1rem;
	}
	.game-img {
		height: 16px; width: 16px;
		top: 0 !important;
	}
	.tabulator .tabulator-row, #player-odds {
		font-size: 12px;
	}
	.tabulator .tabulator-cell:nth-child(1) {
		width: 40px;
	}
}

@media (hover: hover) and (pointer: fine) {
	.tabulator .tabulator-header .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover, .tabulator-row:hover {
		background-color: #34393b !important;
	}
}